{% extends 'WillothewispGuestbookBundle::layout.html.twig' %}

{% block content -%}
    <div class="next-post-info">Next post may be sent via: <span id="countdown"></span></div>
    <div class="container">
        {%  include 'WillothewispGuestbookBundle:Post:new.html.twig' with {'form': form} %}

        {% block flashMessage %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
            {% endfor %}
        {% endblock %}

    </div>
     <table class="records_list">
        <thead>
            <tr>
                <th>Author</th>
                <th>Created</th>
                <th>Website</th>
                <th>Post</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {%  include 'WillothewispGuestbookBundle:Post:tbody.html.twig' with {'posts': posts} %}
        </tbody>
    </table>
{% endblock %}
