{% ext,ends 'WillothewispGuestbookBundle::layout.html.twig' %}
<div>
{% for post in posts %}
    <div>{{ post.author }}</div>
    <div>{{ post.url }}</div>
    <div>{{ post.post }}</div>
{% endfor %}
</div>